
.grey{
    padding: 10px;
   width: 86%;
    background-color: rgb(223, 223, 223);
    height: 95vh;
}
.username2{
    float: right;
    display: flex;
    margin-right: 5px;
    text-align: center;
    padding: 20px;
}


.image{
    width: 25%;
    margin-top: 6%;
    height: 10%;
    margin-left: 8%;
}

.MyData{
    position:fixed;
    margin-left: 12%;
    width: 100%;
    height: 95vh;
}

h1{
    color:rgb(21, 9, 184); 
    margin-left: 5%;
}
.Menu{
    
    text-align: start;
  padding-left: 30px;


}
.menu2{
    height: 10px;
    position:absolute;
    width: 10%;
    padding:2%;
    margin-top: -2%;
    border-right: #4B7BE8 0.5px solid;
    height: 95vh;
    background-color: white;
    margin-left: -2%;
}.head-container2{
    margin-top: 0;
}
.Info{
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    width: 90%;
   
}
.Curent{
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color:rgb(21, 9, 184);
    border: 1px solid black;
}
li{
 padding: 5px;
 text-align: center;
 display: inline-block;
}
.First{
    padding-right: 60px;
}

.file{
    font-size: 15px;
    width: 100%;
    text-decoration: none;
    border: none;
}

.row{
    height: 60px;
    width: 100%;
}
.select{
    text-align: center;
    width: 200%;
    height: 35px;
}
.Btn{
    color: #fff;
    text-decoration: none;
    height: 35px;
    border: none;
    width: 200px;
    background: rgb(40, 156, 151);
}

/* BOOK VIEW */
.book{
    background-color: rebeccapurple !important;
}
.subject{
    background: #fff;
    width: 350px;
   height: 250px;
    /* margin: 0px; */
    border: 2px solid grey;
    font-weight: bold;
    margin-top: 500px;
    margin-right: 500px; 
    margin: 10px 
 
}
.subject h3{
    width: 100%;
    background: #4B7BE8;
    color: #fff;
    margin-top:0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: smaller;
}


.subject img{
    width: 30%;

}

.btnView{
    margin-Top: 20px;
    background: #4B7BE8;
    color: #fff;
    border-radius: 5px;
    border: none;
    width: 25%;
    height: 30px;
    border-color: #4B7BE8;
    margin-bottom: 10px;
    
}